:root {
  --accent-color: #2196f3;
  --h-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --font-family: Roboto, sans-serif;
  --time: 250ms;
  --delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-button, .social__link, .close, .nav-links__link, .nav-links__link::after, .burger-button__icon, .mobile-menu, .backdrop, .modal, .form__input, .form__icon, .checkbox__icon, .clients-list__link, .sort-button, .projects__link, .jump__text, .footer-address__item--contact-link {
  -webkit-transition: all var(--time) var(--delay);
  transition: all var(--time) var(--delay);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &.general {
    @include flex($ai: baseline);
  }

  &.oneline {
    display: flex;
  }
}
 */
.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-button {
  display: block;
  padding: 8px 0;
  width: 200px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.main-button:hover, .main-button:focus {
  background-color: #188ce8;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.main-button.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
}

.main-button.subscribe__btn .subscribe__icon {
  content: "";
  display: block;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  fill: currentColor;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}

.logo--header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19px;
  }
}

.logo--footer {
  margin-bottom: 20px;
}

.logo--above {
  color: var(--h-color);
}

.logo--below {
  color: var(--white-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--h-color);
  margin-bottom: 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social__item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  background-color: inherit;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social__icon {
  height: 20px;
  width: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social__icon--footer {
  fill: var(--white-color);
}

.close {
  position: absolute;
  background: var(--white-color);
  cursor: pointer;
  fill: currentColor;
}

.close:focus, .close:hover {
  fill: var(--accent-color);
}

.close.close--modal {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close.close--mobile {
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
}

.close__sign {
  content: "";
}

.close__sign--modal {
  height: 11px;
  width: 11px;
}

.close__sign--mobile {
  height: 19px;
  width: 19px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links__item {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.nav-links__item:last-child {
  margin-right: 0;
}

.nav-links__link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
}

.nav-links__link:hover, .nav-links__link:focus {
  color: var(--accent-color);
}

.nav-links__link--current {
  color: var(--accent-color);
}

.nav-links__link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}

.nav-links__link:hover::after, .nav-links__link:focus::after {
  visibility: visible;
}

/* 
.header-address {
  margin-left: auto;
  display: flex;
  list-style: none;
}

.header-address__item {
  display: inline-block;
  margin-right: 50px;
  color: var(--text-color);

  &:last-child {
    margin-right: 0;
  }
}

.header-address__link {
  display: flex;
  align-items: center;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 32px 0;
  @extend %transition;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-address__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  @extend %transition;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
} */
@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
  .header-address {
    display: none;
  }
}

.burger-button {
  background: var(--white-color);
  border: none;
  padding: 0;
}

.burger-button__icon {
  content: "";
  width: 40px;
  height: 40px;
  fill: black;
  cursor: pointer;
}

.burger-button__icon:hover, .burger-button__icon:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 767px) {
  .burger-button__icon {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
  background-color: blanchedalmond;
  padding: 48px 40px;
}

@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
}

.hero {
  max-width: 1600px;
  padding: 200px 0px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcgimg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcgimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  padding: 40px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--h-color);
}

.form__label {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__input {
  display: inline-block;
  padding: 0 12px 0 42px;
  margin-top: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--h-color);
}

.form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus, .form__input:hover {
  border-color: var(--accent-color);
  outline: none;
}

.form__input--comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}

textarea {
  resize: none;
}

.form__icon {
  position: absolute;
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: currentColor;
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
  margin: 0;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  fill: var(--white-color);
}

.checkbox:hover + .checkbox__icon,
.checkbox:focus + .checkbox__icon {
  border-color: var(--accent-color);
}

.checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.usp {
  padding: 94px 0;
}

.usp-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.usp-list__item {
  display: inline-block;
  margin-right: 30px;
  width: 270px;
}

.usp-list__item:last-child {
  margin-right: 0;
}

.usp-list__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.usp-list__item--antenna::before {
  background-image: url("../images/icons/antenna.svg");
}

.usp-list__item--clock::before {
  background-image: url("../images/icons/clock.svg");
}

.usp-list__item--diagram::before {
  background-image: url("../images/icons/diagram.svg");
}

.usp-list__item--astronaut::before {
  background-image: url("../images/icons/astronaut.svg");
}

/* 
.usp-list__item {
  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--antenna::before {
    background-image: url("../images/icons/antenna.svg");
  }
  &--clock::before {
    background-image: url("../images/icons/clock.svg");
  }
  &--diagram::before {
    background-image: url("../images/icons/diagram.svg");
  }
  &--astronaut::before {
    background-image: url("../images/icons/astronaut.svg");
  }
} */
.usp-list__title {
  display: inline-block;
  height: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h-color);
}

.usp-list__description {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  height: 75px;
}

.ourjob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-bottom: 94px;
}

.ourjob-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.ourjob-list__item {
  display: inline-block;
  margin-right: 30px;
}

.ourjob-list__item:last-child {
  margin-right: 0px;
}

.ourjob-list__action {
  position: relative;
}

.ourjob-list__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
  padding: 94px 0;
  text-align: center;
}

.members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.member-card {
  display: inline-block;
  margin-right: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--white-color);
}

.member-card:last-child {
  margin-right: 0px;
}

.member-card__text {
  padding: 30px;
}

.member-card__name {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--h-color);
}

.member-card__job {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.clients {
  padding: 94px 0;
  text-align: center;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.clients-list__item {
  display: block;
  margin-right: 30px;
  width: 170px;
  height: 90px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__link {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  fill: #afb1b8;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-list__logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* buttons */
.buttons-list {
  list-style: none;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-list__item {
  margin-right: 8px;
}

.buttons-list__item:last-child {
  margin-right: 0;
}

.sort-button {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--h-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.sort-button:hover, .sort-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px #0000001f;
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px #0000001f;
}

.projects {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects__item:nth-child(3n) {
  margin-right: 0;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__link {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__text {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.projects__title {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);
}

.projects__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-color);
}

.jump {
  position: relative;
  overflow: hidden;
}

.jump__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  background: var(--accent-color);
  opacity: 0.9;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}

.projects__link:hover .jump__text,
.projects__link:focus .jump__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

address {
  font-style: normal;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* footer-one container */
.footer-one {
  display: inline-block;
  margin-right: 70px;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-address__item {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.footer-address__item--contact-link {
  margin-top: 9px;
  opacity: 0.6;
}

.footer-address__item--contact-link:hover, .footer-address__item--contact-link:focus {
  color: var(--accent-color);
}

/* footer-two container*/
.footer-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

/* footer-three container*/
.footer-three {
  margin-left: auto;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
}

.subscribe__input:focus, .subscribe__input:hover {
  border-color: var(--accent-color);
  outline: none;
}
/*# sourceMappingURL=main.css.map */