address {
  font-style: normal;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* footer-one container */

.footer-one {
  @include flex($fd: column);
  margin-bottom: 60px;
  @media screen and (min-widht: 768px) {
    margin-right: auto;
  }
  @media screen and (min-widht: 1200px) {
    margin-right: 70px;
  }
}

.footer-address {
  @include flex($fd: column);
}

.footer-address__item {
  display: inline-block;
  @include font(400, 14px, 1.7);
  color: var(--white-color);
  &--contact-link {
    margin-top: 8px;
    opacity: 0.6;
    @extend %transition;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

/* footer-two container*/

.footer-two {
  display: block;
  margin-bottom: 60px;
}

.footer-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-one-and-two {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    /* justify-content: space-between; */
  }
}

/* footer-three container*/

/* .footer-three {
  margin-left: auto;
} */

.subscribe {
  @include flex($fd: column);
}

.subscribe__container {
  @include flex($fd: column);
}

.subscribe__input {
  width: 450px;
  height: 50px;
  @include font(400, 16px, 1.25);
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  &:focus,
  &:hover {
    border-color: var(--accent-color);
    outline: none;
  }
}
