.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.navigation {
  display: flex;
  & .nav-links {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.nav-links__item {
  display: block;
  margin-bottom: 32px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    @include font(500, 40px, 1.175);
    padding: 0;
    margin-right: 50px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-links__link {
  display: inline-block;
  @include font(500, 40px, 1.175);
  padding: 0;
  letter-spacing: 0.02em;
  color: var(--h-color);
  @extend %transition;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
    @include font(500, 14px, 1.14);
  }
}

.nav-links__link {
  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    @extend %transition;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &:hover::after,
  &:focus::after {
    visibility: visible;
  }
}

.header-address {
  display: flex;
  flex-direction: column;
  .online & {
    margin-left: auto;
    flex-direction: row;
  }
  @media screen and (min-width: 768px) {
    margin: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.header-address__item {
  display: block;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    color: var(--text-color);
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;
    color: var(--text-color);
    &:last-child {
      margin-right: 0;
    }
  }
}

.header-address__link {
  @include font(500, 34px, 1.176);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &--phone {
    @include font(500, 24px, 1.166);
    color: var(--text-color);
  }
  @media screen and (min-width: 768px) {
    @include font(500, 12px, 1.166);
    color: var(--text-color);
    display: flex;
    align-items: center;
    transition: all var(--time) var(--delay);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    @include font(500, 14px, 1.14);
  }
}

.header-address__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  @extend %transition;
  &--envelope {
    width: 14px;
    height: 10px;
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }
  &--smartphone {
    width: 10px;
    height: 14px;
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
