.usp-list__item {
  margin: 0 15px 30px 15px;
  width: inherit;
  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
  }
  $usp-icons: "antenna", "clock", "diagram", "astronaut";
  @each $iconName in $usp-icons {
    &--#{$iconName}::before {
      background-image: url("../images/icons/#{$iconName}.svg");
    }
  }
}

@media screen and (min-width: 768px) {
  .usp-list__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .usp-list__item {
    width: calc((100% - 120px) / 4);
  }
}

.usp-list__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--h-color);
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.usp-list__description {
  display: flex;
  @include font(400, 14px, 1.7);
  color: var(--text-color);
}
