.close {
  position: absolute;
  background: var(--white-color);
  cursor: pointer;
  .modal & {
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .mobile-menu & {
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
  }
}

.close__sign {
  content: "";
  @extend %transition;
  fill: currentColor;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
  &--modal {
    height: 11px;
    width: 11px;
  }
  &--mobile {
    height: 19px;
    width: 19px;
  }
}
