.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  @include font(700, 26px, 1.19);
  color: var(--accent-color);

  &--header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }

  &--footer {
    margin-bottom: 20px;
  }

  &--above {
    color: var(--h-color);
  }

  &--below {
    color: var(--white-color);
  }
}
