.social {
  @include flex;
  list-style: none;
}

.social__item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &--footer {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.social__link {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  @include flex;
  fill: #afb1b8;
  background-color: inherit;
  @extend %transition;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
  }
}

.social__icon {
  height: 20px;
  width: 20px;
  @include background;

  &--footer {
    fill: var(--white-color);
  }
}
