.container {
  width: 100%;
  padding: 0 15px;
  .header & {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.oneline {
    display: flex;
    & .header-address {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  &.general {
    @include flex($fd: column, $ai: baseline);
    @media screen and (min-width: 1200px) {
      @include flex($ai: center);
    }
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 760px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
