/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &.general {
    @include flex($ai: baseline);
  }

  &.oneline {
    display: flex;
  }
}
 */

.container {
  width: 100%;
  padding: 0 15px;

  .header & {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
