:root {
  --accent-color: #2196f3;
  --h-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --font-family: Roboto, sans-serif;
  --time: 250ms;
  --delay: cubic-bezier(0.4, 0, 0.2, 1);
}
